<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="website icon" href="pics/icon.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="css/style.css">
    <title>Robotics</title>
  </head>
  <body> 
    <div id="body">
    <img src="../pics/profile.gif" alt="error" class="img2"> 
    <div class="im">
    </div>
  <div id="body1"> 
   
<div class="container mx-1">
   <nav class="navbar navbar-light">
  <div class="container-fluid">
    
      <a href="https://builtin.com/robotics" target="_blank"><img src="pics/icon.png" alt="" width="32" height="30" class="d-inline-block align-text-top my-0">
     <span style="position:absolute;left: 65px;top:-1px;color:azure;letter-spacing:1.2px;font-size:30px;cursor:pointer;"><b>Robotics</b></span>
  </a>

  
 <ul style="position: absolute;left:560px;font-size:17px;top: 2.5px; display: flex;list-style-type: none;">
  <li class="nav-item">
    <a class="nav-link"  href="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" onclick="scrollto(event)">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  onclick="scrollto1(event)">Contect</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" id="show" onclick="show()" >Logout</a>
  </li>
</ul>
</nav>
  </div>
</div>
   <div class="page">
    <img src="uploads/{{image}}" alt="Er" width="150" height="150">
    <br>
    <span id="text"></span>
    <br>
    <button id="bt">Logout</button>
   </div> 

<div class="type">
<span id="change">Hello Everyone.</span>
</div>

<div class="card">
  <span><font color="white" size="6"><b>What is Robotics ?</b></font></span>
  <span id="te">Robotics is a branch of engineering and computer science that involves the conception, design, manufacture and operation of robots. The objective of the robotics field is to create intelligent machines that can assist humans in a variety of ways.
Robotics can take on a number of forms. A robot might resemble a human or be in the form of a robotic application, such as robotic process automation, which simulates how humans engage with software to perform repetitive, rules-based tasks.
While the field of robotics and exploration of the potential uses and functionality of robots have grown substantially in the 21st century, the idea certainly isn't new.</span>
</div>

<div class="card1">
  <span><font color="white" size="6"><b>What is AI ?</b></font></span>
  <br>
  <span id="te">Artificial Intelligence (AI) refers to the development of computer systems of performing tasks that require human intelligence. AI aids, in processing amounts of data identifying patterns and making decisions based on the collected information. This can be achieved through techniques like Machine Learning, Natural Language Processing, Computer Vision and Robotics. AI encompasses a range of abilities including learning, reasoning, perception, problem solving, data analysis and language comprehension. The ultimate goal of AI is to create machines that can emulate capabilities and carry out diverse tasks, with enhanced efficiency and precision. The field of AI holds potential to revolutionize aspects of our daily lives.</span>
</div>



 <div class="next1" id="about">
<img src="../pics/next2.png" alt="error" >
<span>The Unimate was the first industrial robot ever built. It was a hydraulic manipulator arm that could perform repetitive tasks. It was used by car makers to automate metalworking and welding processes.
  In 1954, George Devol, an inventor and entrepreneur, filed a patent describing an autonomous machine that could store step-by-step digital commands to move parts in a factory (he called it a "programmed article transfer" device). Devol teamed up with another entrepreneur, Joseph Engelberger, and they built a prototype in 1958. They later started the first robotics company, Unimation, in Danbury, Conn. In 1961, they put the first Unimate into service at a General Motors plant in Ewing Township, N.J., where the robot extracted hot metal parts from a casting machine. The first Unimates sold for US $35,000 in the early 1970s (more than $200,000 in today's dollars). 
</span>
 </div>

 <div class="next2"><img src="../pics/next.jpeg" alt="error" >
 <span>Meet Ameca, the 'world's most advanced' humanoid robot, who has just moved to Edinburgh as part of a project to help robots and humans understand each other better.
It's called a 'humanoid' robot because it's been designed to look and act in a similar way to us.
The robot uses artificial intelligence (AI) to react, recognise and talk to people, with cameras for eyes and microphones for ears</span>
 </div>

<span id="tx">
  The word "robotics" was also coined by a writer.  Russian-born American science-fiction writer Isaac Asimov first used the word in 1942 in his short story "Runabout."  Asimov had a much brighter and more optimistic opinion of the robot's role in human society than did Capek.  He generally characterized the robots in his short stories as helpful servants of man and viewed robots as "a better, cleaner race."  Asimov also proposed three "Laws of Robotics" that his robots, as well as sci-fi robotic characters of many other stories, followed:<br>
<font color="red" style="text-shadow: none;"><b>Law One</b></font><br>
        A robot may not injure a human being or, through inaction, allow a human being to come to harm.<br>
<font color="red" style="text-shadow: none;"><b>Law Two</b></font><br>
        A robot must obey the orders given it by human beings except where such orders would conflict with the First Law.<br>
<font color="red" style="text-shadow: none;"><b>Law Three</b></font><br>
        A robot must protect its own existence as long as such protection does not conflict with the First or Second Law.

</span>


</div>
<div id="cont">
  <div class="co">
    <span>Contect Me</span>
  </div>
  <div id="icon">
  <a href="#"><i class="bi bi-facebook"id="a"></i></a>
  <a href="#" ><i class="bi bi-instagram  "id="b"></i></a>
   <a href="mailto:samiruraon03@gmail.com" target="_blank"><i class="bi bi-google"id="c" style="font-size: 22px;"></i></a>
  <a href="https://www.youtube.com/@namitauraon673" target="_blank"><i class="bi bi-youtube "id="d"></i></a>
  <a href="#"><i class="bi bi-twitter "id="e"></i></a>
</div>

<div class="le">
<span id="tex1">Phone :<font color="white">+918016488419</font></span>
<span id="tex2">Location: <font color="white">26.5926739,89.4383411</font></span>
<span id="tex3">Country: <font color="white" >India</font></span>
<br><br>
<span>Desciption :</span>
<br>
<form action="/home" method="post" id="form">
<input type="text" name="text" id="q" placeholder="Enter Text" required>
<input type="submit" value="SEND" style="padding:4px;width:120px;border-radius:10px;border:none;" class="b"></form>

</div>
</div>

</div>

   <div id="disc" style="color: aqua ;transition: .1s ;transform: scale(0.02)  ;opacity: 0; width: 300px; height: 150px;position:absolute;left:30px;">
  <h1>Not Found</h1><br>
  <p>Your session is expire.Please login...for visit the website </p>
</div>






  </body>
  <script>
    var t=1
    var r="{{name}}"
  
   
   
    var s=r.toUpperCase()
    document.querySelector("#text").innerHTML=s
    var test=localStorage.getItem("test")
   
   if(test!=null){
     window.addEventListener("load",()=>{
      document.querySelector("#body").style.opacity=0;
         document.title="404 Not Fount"
         document.querySelector("#disc").style.position="relative"
         document.querySelector("#disc").style.transform ="scale(1)"
      
         document.querySelector("#disc").style.opacity=1;
              document.querySelector(".page").classList.remove("hide")
         document.body.style.backgroundColor="rgb(4, 4, 115)"
         document.body.style.backgroundImage="url('')"
       
        
    })
   }
   
   
  document.querySelector("#bt").addEventListener("click",function(){
      var a=confirm("Are you sure?  Your Session will be expire.")
      if(a){
        localStorage.setItem("test",true)
        document.querySelector("#body").style.opacity=0;
         document.title="404 Not Fount"
         document.querySelector("#disc").style.position="absolute"
         document.querySelector("#disc").style.transform ="scale(1)"
      
         document.querySelector("#disc").style.opacity=1;
              document.querySelector(".page").classList.remove("hide")
         document.body.style.backgroundColor="rgb(4, 4, 115)"
         document.body.style.backgroundImage="url('')"
         setTimeout(()=>{
          window.close()
          window.open("/logout")
        },2000)
      } 
      else{
        document.querySelector(".page").classList.remove("hide")
      }
    })
function show(){
 
  if(t==1){
  document.querySelector(".page").classList.add("hide")
  t=0
  
  }
  else{
    document.querySelector(".page").classList.remove("hide")
    t=1
  }
}
setTimeout(()=>{
  document.querySelector(".type").style.animation="an 2s,cursor .6s step-end infinite"
 
},5000) 
       
setTimeout(()=>{

  document.querySelector("#change").innerHTML="This is Generation of Technology."
document.querySelector(".type").style.color="cyan"
  document.querySelector(".type").style.animation="ani 4s,cursor .6s step-end infinite"
   document.querySelector(".type").style.width="67%"
},6000)          
         
 setTimeout(()=>{
  document.querySelector(".card").classList.add("hide")
 },6000)   

setTimeout(()=>{
  document.querySelector(".card1").classList.add("hide")
 },6000) 

 

 function scrollto(e){
  e.preventDefault()
  window.location.href="#about"
 }  
 function scrollto1(e){
    e.preventDefault()
  window.location.href="#cont"
 }
 var ti=1
 setInterval(() => {
  if(ti==1){
      document.querySelector("#icon").style.opacity=1
      document.querySelector("#icon").style.transform="scale(1) translateY(-15px)"
      ti=0
      }
      else{
        document.querySelector("#icon").style.opacity=0
      document.querySelector("#icon").style.transform="scale(0.1) translateY(45px)"
      ti=1
      }
    },10000);
  </script>
</html>