<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="website icon" href="pics/icon.png">
    <title>Signup</title><style>
       .check{
        cursor: pointer;
        position: absolute;
        top:20px;
        left:450px;
        width:170px;
        border-radius:5px;
        height:30px;
        padding-top:3px;
        padding-left :12px;
        background: rgb(157, 216, 216);
        transition:all 1s ease-in-out;
        
        transform:scale(0.1);
        opacity:0;
        
      }
    </style>
  </head>
  <body>

    <div class="check">
      <span style="color:green;">Successfully Signup !</span>
    </div>


    <div class="container my-5">
    <form action="/" method="post" enctype="multipart/form-data"  onsubmit="return formvalidation()">
        <div class="form-group">
             <input type="name" class="form-control" id="exampleInputname" placeholder="Name"  required  name="name">
        
        </div>
  <div class="form-group">
     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required name="email">

</div>
  <div class="form-group">
     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required name="password" minlength="8">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" value="male" name="male"  >
    <label class="form-check-label" for="exampleCheck1">Male</label>
    <input type="checkbox" class="form-check-input mx-4" id="exampleCheck2" value="female" >
    <label class="form-check-label mx-5" for="exampleCheck2">Female</label>
  </div> 
  <div class="form-group">
    <label class="form-label" for="exampleInputName">Profile pic :</label>
    <input type="file"  id="exampleInputName" accept=".jpg,.lpeg,.png" class="mx-3" style=" width: 210px;" required name="fname"><br>
<small class="text-muted">(Maximum Image size 2MB)</small>
  </div>

  <button type="submit" class="btn btn-primary"  id="btn">SIGNUP</button>
  <a href="/login"><button type="button" class="btn btn-danger mx-3">LOGIN</button></a>

  
</form>
</div>
  </body>


 <script>
   
document.querySelector("#exampleInputName").addEventListener("change",function(){
   var si=document.querySelector("#exampleInputName").files[0].size
  // console.log(si)
  if(si/1024<=2048){
    var re=true;
  }
  else{
    document.querySelector("#exampleInputName").value=""
    alert("Image size Maximum 2 MB")
  }
}) 
var c1=document.querySelector("#exampleCheck1")
var c2=document.querySelector("#exampleCheck2")

function formvalidation(){
  var re=false
  if(c1.checked || c2.checked){
    var re=true
  }
  else{
    alert("please select your gander.")
  }
  return re;
}
localStorage.clear()
if({{data}}){
    setTimeout(() => {
          document.querySelector('.check').style.opacity='1'
          document.querySelector('.check').style.transform='scale(1)'
           document.querySelector('.check').style.top='10px'

    }, 1000);
    setTimeout(() => {
      document.querySelector('.check').style.opacity='0'
          document.querySelector('.check').style.transform='scale(0.1)'
           document.querySelector('.check').style.top='-20px'
    }, 4000);
} 
 </script>
</html>